body {
  width:630px;
  margin:40px;
}

h1 {
  font-size:22px;
}

h2 {
  font-size:18px;
  margin-bottom:4px;
  font-weight:bold;
}

h3 {
  font-size:16px;
  font-weight:bold;
}


/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

.siteA a {
  padding: 0 5px;
  font-weight: bold;
}

.siteA a:visited {
  color: #09c;
}

.siteA a:hover {
  text-decoration: underline;
}

/*Logo */

.logo {
  margin-right:18px;
}

/* Navigation */

.nav {
  vertical-align:top;
  white-space:nowrap;
  padding:0px;
  padding-right:10px;
}

.justNav {
  background-color:#E2FF5F;
}

.justNav2 {
  background-color:#FFEB31;
}

.justNav3 {
  background-color:#E7E6C5;
}

/* section */

.section {
  margin-top: 10px;
  font-size: 120%;
  padding: 20px;
  background: #D8D9FF;
  display:block;
  height:auto;
}

/* Footer */

.footer {   
 text-align: center;
  margin-top:10px;
  padding:5px;
  background:#F2CFFF;
}

/* General */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


/* table*/

.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

/* Textformatting */

.shell {
  background:white;
  width:auto;
  padding:7px;
  display:inline;
  border-width:2px;
  border-style:solid;
  border-color:#0013A0;
  font-family: Monospace;
  color:#D0660F;
  font-weight:bold;
  letter-spacing:1px;
  margin-bottom:20px;
}

.entity {
  margin-bottom:20px;
  height:auto;
  display:block;
}

.fileHeader {
  color:#35383B;
  font-weight:bold;
  font-size:13px;
  padding-bottom:6px;
  display:inline;
  border-left: dotted 1px #35383B;
  border-right: dotted 1px #35383B;
  border-top: dotted 1px #35383B;
  padding-left:4px;
  padding-right:4px;
  padding-top:2px;
}

.addToFile {
  background:white;
  width:auto;
  display:inline-block;
  padding:7px;
  border-width:2px;
  border-style:dashed;
  border-color:#054B0B;
  color:#000;
  letter-spacing:1px;
  margin-top:4px;
}

.preFile {
  font-size:12px;
  line-height:14px;
  margin:0px;
}

.ppp {
  display:block;
  color:red;
}
