<h1>Another Ruby on Rails Tutorial</h1>

<p>This is just another Ruby on Rails Tutorial. This tutorial emphases
the practical site of rails coding without much bla bla. That's why you will see
much Ruby code and many shell-commandos. If you want endless explanations you can
visit the <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">
this</a> Tutorial. This is pretty much a summary of that tutorial with a few 
improvements.
</p>

<p>
Along the way you will also get to know a few other tools like git.
</p>
