<h1>References</h1>

<h2>Images</h2>

<h3>Logo</h3>

<ul>
  <li><a target="_blank" href="http://de.wikipedia.org/w/index.php?title=Datei:Ruby_logo.svg&filetimestamp=20101129171534">Ruby-Logo</a></li>
  <li><a target="_blank" href="http://www.openclipart.org/detail/27072">Lorry</a></li>

</ul>


